.container-style{
    padding: 0;
    margin: 0;
    max-width: 100% !important;
}
img {
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%; /* Set the image width to 100% of the container */
    height: 599px !important; /* Maintain the image's aspect ratio */
}
.column-style{
    padding: 0 !important;
    margin: 0 !important;
}

.container{
    position: relative;
    text-align: center;
    color: white;
}

.bottom-centered1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-centered2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-centered3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}